<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  body { text-align:center;font-family:helvetica,arial;font-size:22px;
    color:#888;margin:20px}
  #c {margin:0 auto;width:500px;text-align:left}
  </style>
</head>
<body>
  <h2>You're not singing my tune...</h2>
  <img src='http://uofu-oeo-isight-brandon858776.codeanyapp.com:4567/__sinatra__/404.png'>
  <div id="c">
    Try this:
    
    <pre>
      POST http://uofu-oeo-isight-brandon858776.codeanyapp.com:4567/person
      Content-Type: application/json
      { "emplid": "01234567" }
    </pre>
    Note: emplid must be 7 digits preceded by either a '0' or a 'u'.
    
  </div>
</body>
</html>
